.main {
  margin-bottom: 200px;
  .main_content {
    position: relative;

    p {
      font-size: 24px;
      font-weight: 400;
      line-height: 30px;
    }
    button {
      position: absolute;
      padding: 16px 24px;
      background: #204ea5;
      border-radius: 15px;
      font-size: 20px;
      line-height: 24px;
      gap: 10px;
      font-weight: 500;
      color: #ffffff;
      bottom: 0;
      left: 0;
    }
  }
}

.services {
  margin: 100px 0;
  border-radius: 6px;
}
.services_img {
  width: 100px;
  margin-bottom: 60px;
}
.services_title {
  color: #204ea5;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}
.services_decs {
  color: #323232;
  font-size: 18px;
  font-weight: normal;
}

.introduce {
}
h5 {
  font-size: 36px;
  font-weight: 700;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    background-color: #000;
    height: 5px;
    width: 70px;
    display: block;
  }
  &::after {
    content: '';
    background-color: #000;
    height: 5px;
    width: calc(100% - 400px);
    display: block;
  }
}
