// .homeContent {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: relative;
//   height: 75vh;

//   span {
//     font-size: 80px;
//     font-weight: 800;
//   }

//   // .studyFields {
//   // width: 300px;

//   .field {
//     display: flex;

//     // justify-content: center;
//     // align-items: center;
//     position: absolute;
//     top: 0;
//     font-size: 3rem;
//     color: #646464cc;
//     line-height: 4rem;
//     margin: 1.75rem 2rem;

//     &.active {
//       display: flex;
//     }
//   }
//   // }
// }
.homeContent {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 75vh;

  span {
    font-size: 80px;
    font-weight: 800;
  }

  // .studyFields {
  // width: 300px;

  .field {
    opacity: 0;
    width: 300px;
    background-color: #000;
    color: #fff;

    position: absolute;
    top: -30px;
    font-size: 4rem;

    line-height: 4rem;

    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 0 2rem;

    &.active {
      opacity: 1;
    }
  }
  // }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  font-size: 40px;
  line-height: 40px;
  color: #000;

  span {
    font-size: 80px;
    font-weight: 800;
  }

  &__container {
    font-weight: 600;
    overflow: hidden;
    height: 50px;
    padding: 0 40px;

    &__text {
      display: inline;
      float: center;
      margin: 0;
    }

    &__list {
      margin-top: 0;

      text-align: left;
      list-style: none;

      animation-name: change;
      animation-duration: 10s;
      animation-delay: 2s;
      animation-iteration-count: infinite;

      &__item {
        line-height: 50px;
        margin: 0;
      }
    }
  }
}

@keyframes change {
  0%,
  100% {
    transform: translateY(0);
  }
  8.33%,
  91.66% {
    transform: translateY(-14.3%);
  }
  16.66%,
  83.33% {
    transform: translateY(-28.6%);
  }
  25%,
  75% {
    transform: translateY(-42.9%);
  }
  33.33%,
  66.66% {
    transform: translateY(-57.2%);
  }
  41.66%,
  58.33% {
    transform: translateY(-71.5%);
  }

  50% {
    transform: translateY(-85.8%);
  }
}

// 6 is the number of animation.
// Here, there are 4 lines :

// 1 to 2
// 2 to 3
// 3 to 4
// 4 to 5
// 5 to 6
// 6 to 7
// 7 to 6
// 6 to 5
// 5 to 4
// 4 to 3
// 3 to 2
// 2 to 1

// 6x + 6y = 100 (100% duration)

// HERE :
// y = 4 -> Animation between two lines
// x = 12.66 -> Time spent on a line

// You can define a value and calculate the other if you want change speed or the number of lines
