// .infoPage {
//   display: grid;
//   grid-template-columns: repeat(12, minmax(0, 1fr));
//   // gap: 50px;
//   position: relative;

//   .currentEvent {
//     grid-column: span 8 / span 8;
//     padding: 20px;
//     background: rgba(255, 255, 255, 0.5);
//     box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.25);
//     border-radius: 15px;

//     h2 {
//       font-weight: 700;
//     }

//     .indicator {
//       height: 3px;
//       background: #000;
//       margin: 20px;
//     }
//   }

//   // .remainingEvent {
//   //   position: absolute;
//   //   width: 400px;
//   //   top: 50px;
//   //   right: 50px;
//   //   background: #ffffff;
//   //   box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.25);
//   //   border-radius: 15px;
//   //   padding: 20px;
//   // }
// }
.infoPage {
  gap: 5%;

  .currentEvent {
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 65%;

    h2 {
      font-weight: 700;
    }

    .indicator {
      height: 3px;
      background: #000;
      margin: 20px;
    }
  }

  .remainingEvent {
    position: absolute;
    top: 140px;

    left: 65%;
    width: 30%;
    background: #ffffff;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 20px;
  }
}
