.h1Title {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  line-height: 74px;
  color: #686868;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.1em;
  padding: 50px 0;
}
